<div class="container">
    <div class="row">
      <div class="col s12 m6">
        <% @posts.each do |post|%>
       <%= render partial: ('post'),  locals:{post: post}%>
       <% end %>
     </div>
   </div>
</div>
      <!-- material.cssのfloat -->
<%= link_to '/posts/new', method: :get, class: "btn-floating btn-large waves-effect waves-light red" do %>
  <i class="fas fa-comments"></i>
<% end %>


<!-- 色：indigo accent-1 -->

